@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif; }

.contenedor-padre {
  z-index: 6;
  width: 100%;
  height: auto;
  position: relative; }
  .contenedor-padre .logoContainer {
    width: 130px;
    height: 130px;
    display: block;
    margin: 20px auto; }
    .contenedor-padre .logoContainer div {
      width: auto;
      margin: 0 auto;
      position: relative; }
      .contenedor-padre .logoContainer div .baseLogo {
        width: 130px;
        position: absolute;
        animation: cambiarColores 3s infinite;
        border-radius: 50%; }
@keyframes cambiarColores {
  0% {
    box-shadow: #e9e9e9 0 0 15px; }
  25% {
    box-shadow: #09b0da 0 0 15px; }
  50% {
    box-shadow: #1335cc 0 0 15px; }
  75% {
    box-shadow: #8c1ad8 0 0 15px; }
  100% {
    box-shadow: #e9e9e9 0 0 15px; } }
      .contenedor-padre .logoContainer div .logo {
        width: 50px;
        position: absolute;
        left: 40px;
        top: 15px;
        animation: moverNave 1s infinite;
        /* animation: cambiarColores 3s infinite; */ }
@keyframes moverNave {
  0% {
    transform: rotate(1deg); }
  50% {
    transform: rotate(-1deg); }
  100% {
    transform: rotate(1deg); } }
      .contenedor-padre .logoContainer div .hondas {
        width: 70px;
        position: absolute;
        top: 88px;
        left: 30px; }
        .contenedor-padre .logoContainer div .hondas .honda1 {
          width: 40%;
          margin: 3px auto;
          display: block;
          animation: moverHonda1 4s infinite; }
        .contenedor-padre .logoContainer div .hondas .honda2 {
          width: 30%;
          margin: 3px auto;
          display: block;
          animation: moverHonda2 4s infinite; }
        .contenedor-padre .logoContainer div .hondas .honda3 {
          width: 20%;
          margin: 3px auto;
          display: block;
          animation: moverHonda3 4s infinite; }
@keyframes moverHonda1 {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes moverHonda2 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes moverHonda3 {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  50% {
    opacity: 0; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
  .contenedor-padre .header {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
    z-index: 5; }
    .contenedor-padre .header .menu {
      background-color: #0692e3;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: 0;
      box-shadow: 0 0 15px #000; }
      .contenedor-padre .header .menu .logoTipo {
        width: auto; }
        .contenedor-padre .header .menu .logoTipo a {
          display: block;
          height: auto;
          margin: 15px; }
          .contenedor-padre .header .menu .logoTipo a .tituloLogo {
            width: 220px;
            padding-top: 4px;
            display: block;
            transform: scale(1.1); }
      .contenedor-padre .header .menu ul {
        list-style: none;
        display: flex;
        padding-top: 10px; }
        .contenedor-padre .header .menu ul li {
          margin: auto 20px; }
          .contenedor-padre .header .menu ul li a {
            font-size: 25px;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
            text-decoration: none;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 0% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .4s; }
            .contenedor-padre .header .menu ul li a:hover, .contenedor-padre .header .menu ul li a:focus {
              background-size: 100% 2px; }
      .contenedor-padre .header .menu #navHamburger {
        display: none; }
      .contenedor-padre .header .menu .labelNav {
        display: none;
        width: 30px;
        height: 30px;
        margin: 5px; }
        .contenedor-padre .header .menu .labelNav .lines {
          width: 100%;
          height: 5px;
          background-color: #000;
          margin: 3px 0; }
  .contenedor-padre .footer {
    width: 100%;
    height: auto;
    background: #fff5f5;
    position: relative; }
    .contenedor-padre .footer p {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      padding: 10px; }
  .contenedor-padre .btn-wsp {
    position: fixed;
    right: 20px;
    bottom: 20px; }
    .contenedor-padre .btn-wsp a:hover {
      transform: scale(1, 1.2); }
    .contenedor-padre .btn-wsp a img {
      width: 65px; }
      .contenedor-padre .btn-wsp a img:hover {
        transform: scale(1.05);
        transition: .6s; }

.bg-preguntas {
  background-color: #0692e3cc; }

.w-icons {
  width: 64px;
  height: 64px; }

.bg-conts {
  background-color: #0692E3; }

.hover-img:hover {
  transform: scale(1.1);
  transition: 0.6s; }

.medidas-textArea {
  max-width: 500px;
  min-height: 200px;
  max-height: 300px; }

.input-border {
  border: none; }
  .input-border:focus {
    outline: #0501ec 2px solid; }

@media screen and (max-width: 890px) {
  .contenedor-padre .header .menu {
    padding: 0 0 11px 0; }
  @keyframes aparecerMenu {
    0% {
      transform: translate(0, -100px); }
    100% {
      transform: translate(0, 0px); } }
    .contenedor-padre .header .menu .logoTipo {
      display: none; }
    .contenedor-padre .header .menu ul {
      animation: aparecerMenu 1.2s ease;
      display: none; }
    .contenedor-padre .header .menu #navHamburger:checked ~ .labelNav {
      position: relative;
      transform: translate(0, 10px); }
      .contenedor-padre .header .menu #navHamburger:checked ~ .labelNav .line2 {
        display: none; }
      .contenedor-padre .header .menu #navHamburger:checked ~ .labelNav .line1 {
        background-color: #fff;
        transform: rotate(45deg);
        position: absolute; }
      .contenedor-padre .header .menu #navHamburger:checked ~ .labelNav .line3 {
        background-color: #fff;
        transform: rotate(-45deg);
        position: absolute; }
    .contenedor-padre .header .menu #navHamburger:checked ~ ul {
      width: 100%;
      display: block; }
    .contenedor-padre .header .menu .labelNav {
      padding: 8px 0 0 0;
      margin-right: 10px;
      display: block; } }

/*# sourceMappingURL=style.css.map */
