.servicio {
    .contenido-servicio {
        width: 80%;
        margin: auto;
        h1 {
            margin: 0;
            padding: 100px 0 20px 0;
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }
        .contenido {
            margin: 0 auto 200px auto;
            h2 {
                font-size: 2.2rem;
                font-weight: 500;
            }

            ul {
                width: 80%;
                margin: 0 auto;
                padding-bottom: 30px;
                display: block;
                li {
                    margin: 10px 0;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}